@font-face{
    font-family: "Cafe24ClassicType";
    src:url("./Cafe24Classictype.ttf")
  }

@font-face{
    font-family: "Cafe24BeHappy";
    src:url("./Cafe24Behappy.ttf")
}

@font-face {
  font-family: "GabiaHealdot";
  src: url("./GabiaHeuldot.ttf");
}